{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title%}

{% block content %}
    <a href="{% url 'currency:rate-create' %}">Create Rate</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">buy</th>
        <th scope="col">sell</th>
        <th scope="col">source</th>
        <th scope="col">currency</th>
        <th scope="col">created</th>
    </tr>
    </thead>
<tbody>
    {% for rate in object_list %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{rate.id}}</td>
        <td>{{rate.buy}}</td>
        <td>{{rate.sell}}</td>
        <td>{{rate.source}}</td>
        <td>{{rate.get_currency_display}}</td>
        <td>{{rate.created}}</td>
        {% if request.user.is_superuser %}
        <td><a href="{% url 'currency:rate-update' rate.id %}">Update</a></td>
        {% endif %}
        {% if request.user.is_superuser %}
        <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
        {% endif %}
        {% if request.user.is_authenticated %}
        <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}