{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Source
{% endblock title%}

{% block content %}
    <a href="{% url 'currency:source-create' %}">Create Source</a><br>
    <form method="get">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
<table>
    <tr>
        <th>id</th><th>name</th><th>URL</th>
    </tr>

    {% for s in object_list %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.source_url}}</td>
        <td><a href="{% url 'currency:source-update' s.id %}">Update</a></td>
        <td><a href="{% url 'currency:source-delete' s.id %}">Delete</a></td>
        <td><a href="{% url 'currency:source-details' s.id %}">Details</a></td>
    </tr>
    {% endfor %}
</table>
{% include 'includes/paginator.html' %}
{% endblock content %}