{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title%}

{% block content %}
    <a href="{% url 'currency:source-create' %}">Create Source</a>
<table>
    <tr>
        <th>id</th><th>name</th><th>URL</th>
    </tr>

    {% for s in object_list %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.source_url}}</td>
        <td><a href="{% url 'currency:source-update' s.id %}">Update</a></td>
        <td><a href="{% url 'currency:source-delete' s.id %}">Delete</a></td>
        <td><a href="{% url 'currency:source-details' s.id %}">Details</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}